* {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  box-sizing: border-box;
  background-color: #172842;
  color: white;
}

.AppContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;
}